<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">

				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
					МАНЕЖ <small>Система Информационного Менеджмента </small>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="/">Панель Управления </a>
						</li>
					</ul>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<div class="row">
						<div class="col-md-3">
											<div class="dashboard-stat blue-madison">
												<div class="visual">
													<i class="fa fa-building-o"></i>
												</div>
												<div class="details">
													<div class="number">
														 <%= @cities_all %>
													</div>
													<div class="desc">
														Городов в Базе
													</div>
												</div>

												<%= link_to '/cities', :class => 'more' do  %>
						        		<%= content_tag :i, "", :class => "m-icon-swapright m-icon-white" %>Просмотр...

						      			<% end %>


											</div>
										</div>
									</div>
								</div>

					</div>

				<!-- END PAGE CONTENT-->
			</div>
		<!-- END CONTENT -->
