<% provide(:title, "Список Городов") %>
<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
					Список Городов  <small>Все города зарегистрированные в базе данных </small>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="/">Панель Управления</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Справочники</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Список Городов</a>
						</li>
					</ul>

				</div>
				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->
				<div class="row">


						<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-building"></i> Список Городов
							</div>
							<!-- <div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="remove" data-original-title="" title="">
								</a>
							</div> -->
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th style="width: 155px; ">
										<i class="fa fa-database"></i> Позиция
									</th>
									<th>
										<i class="fa fa-building-o"></i> Наименование
									</th>
									<th style="width: 155px; ">
									</th>
									<th style="width: 155px; ">
									</th>
								</tr>
								</thead>
								<tbody>
									<% @cities.each do |city| %>
								<tr>
									<td class="highlight">
										<div class="info">
										</div>
										<a class="disabled"> <%= city.id %> </a>
									</td>
									<td>
										<%= city.city_name %>
									</td>
									<td style= "text-align: center;" >
										<a href="javascript:;" class="btn default btn-xs purple">
										<i class="fa fa-edit"></i> Изменить </a>
									</td>
										<td style= "text-align: center;" >
											<a href="javascript:;" class="btn default btn-xs black">
											<i class="fa fa-trash-o"></i> Удалить </a>
										</td>
									</td>
								</tr>
								<!-- <tr>

									<td class="hidden-xs">
										Adam Larson
									</td>
									<td>
										560.60$
									</td>
									<td>
										<a href="javascript:;" class="btn default btn-xs black">
										<i class="fa fa-trash-o"></i> Delete </a>
									</td>
								</tr>
								<tr>
									<td class="highlight">
										<div class="success">
										</div>
										<a href="javascript:;">
										Apple </a>
									</td>
									<td class="hidden-xs">
										Daniel Kim
									</td>
									<td>
										3460.60$
									</td>
									<td>
										<a href="javascript:;" class="btn default btn-xs purple">
										<i class="fa fa-edit"></i> Edit </a>
									</td>
								</tr>
								<tr>
									<td class="highlight">
										<div class="warning">
										</div>
										<a href="javascript:;">
										Microsoft </a>
									</td>
									<td class="hidden-xs">
										Nick
									</td>
									<td>
										2560.60$
									</td>
									<td>
										<a href="javascript:;" class="btn default btn-xs blue">
										<i class="fa fa-share"></i> Share </a>
									</td>
								</tr> -->
								</tbody>
								<% end %>
								</table>
							</div>

					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>






					</div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
  </div>
